<template name="forgot">
{{> menu}}
  <div class="container">  
    <form id="forgot-form">
      <div>
        <input type="text" name="email" placeholder="Votre email"/>
        <br>
        <br>
        <button class="progress progress-button" data-style="move-up" data-horizontal="" id="forgot-button" type="submit">
				<span class="progress-wrap">
			        <span class="content  fa fa-check">Changer le mot de passe</span>
			        <span class="progress">
			            <span class="progress-inner"></span>
			        </span>
			    </span>
		</button>
		<br>
		<div class="alert">
			<div class="alert-warning"></div>
			<div class="alert-success"></div>
		</div> 
     </div>

   </form>
  </div>
</template>