<template name="home">


   


   <!-- Homepage Hero
   ================================================== -->
   <section id="hero">

     <div class="row">

       <div class="twelve columns">

         <div class="hero-text">
           <h1 class="responsive-headline">Easily take control of your application and enjoy a Piña colada</h1>

           <p>This little app is the best way to remotely start, stop, log and check any application on a remote machine. Beware it is not a replacement for Teamviewer ! It simply a nice way to restart applications, get information about the uptime, proc, and other stats. Finnaly it is an early stage so basically many many thing can be improve ! We are waiting for your recommendations.</p>
         </div>

            <div class="buttons">
               <a class="button trial" href="#">Signup !</a>
               <a class="button learn-more smoothscroll" href="#features">Learn More</a>
            </div>

       </div>

     </div>

   </section> <!-- Homepage Hero end -->

   <!-- Header Illustration
   ================================================== -->
   <section id='header-illustration'></section>
   <!-- Header Illustration end -->

   <!-- Features Section
   ================================================== -->
   <section id='features'>

      <div class="row feature design">

         <div class="six columns right">
            <h3>Simple, see only what you need.</h3>

            <p> Login, see your apps, check the state and make it run ! Very simple usage thru a sleek and well designed interface.
             Really easy to install.
            </p>
         </div>

         <div class="six columns feature-media left">
             <img src="images/home/simple_img_site.png" alt="" />
         </div>

      </div>

      <div class="row feature responsive">

         <div class="six columns left">
            <h3>Web best friend.</h3>

            <p>It's all about connectivity. Bin remote run on your local machine and is accessible thru a realtime connection
            other a responsive website.
            You can decide to start or stop your application with you Android or your iPhone.
            </p>
         </div>

         <div class="six columns feature-media right">
             <img src="images/home/responsive_image.png" alt="" />
         </div>

      </div>

      <div class="row feature cross-browser">

         <div class="six columns right">
            <h3>Cross-Browser Compatible.</h3>

            <p>Of course we love the web and we love browser. You will prefere to use it with Chrome or Firefox. 
            We use websocket and reactive framework to render all the logs. IE 10+ is fine but we do not recommend it.
            </p>
         </div>

         <div class="six columns feature-media left">
             <img src="images/home/browsers_site.png" alt="" />
         </div>

      </div>

      <div class="row feature video">

         <div class="six columns left">
            <h3>Support OSX, Linux, and soon Windows.</h3>

            <p>The app is entirely develop in javascript. Thus it allows for a fast packaging and delivery for OSX and Linux system.
             It should not be complicated to make it run over Windows. Just drop some lines in the client side, and make a pull-request.
            </p>
         </div>

         <div class="six columns feature-media right">
             <div class="fluid-video-wrapper">
                  <iframe src="http://player.vimeo.com/video/14592941?title=0&amp;byline=0&amp;portrait=0&amp;color=F64B39" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
             </div>
         </div>

      </div>

   </section> <!-- Homepage Hero end -->


    <!-- Pricing Section
   ================================================== -->
   <section id="pricing">

      <div class="row section-head">

         <h1 class="pricing-head-title">Pricing Tables</h1>

         <p>Freeeeee ! Yes we say free and we mean it. This project is entirely opensource and available on github. So you can basically do whatever you want we it. 
         Note that we host a private version of the server on our own server. We check as much as possible that it stays raliable but we could not be responsible for any damage that happen.
         </p>

      </div>

      <!--<div class="row">

         <div class="pricing-tables bgrid-quarters s-bgrid-halves">

            <div class="column">

               <div class="price-block">

                  <h3 class="plan-title"><i class="fa fa-cog"></i>Starter</h3>
                  <p class="plan-price">FREE <span>per month</span></p>

                  <ul class="features">
                     <li>1GB Storage</li>
                     <li>5GB Bandwidth</li>
                     <li>2 Domains</li>
                     <li>3 Databases</li>
                     <li>1 FTP Account</li>
                     <li>25 Email Accounts</li>
                  </ul>

                  <footer class="plan-sign-up">
                     <a class="button" href="">Sign Up</a>
                  </footer>

               </div> --><!-- End Price Block -->

         <!--</div> --><!-- End Column -->

            <!-- <div class="column">

               <div class="price-block">

                  <h3 class="plan-title"><i class="fa fa-thumbs-up"></i>Standard</h3>
                  <p class="plan-price">$9.99 <span>per month</span></p>

                  <ul class="features">
                     <li>3GB Storage</li>
                     <li>10GB Bandwidth</li>
                     <li>3 Domains</li>
                     <li>5 Databases</li>
                     <li>3 FTP Account</li>
                     <li>30 Email Accounts</li>
                  </ul>

                  <footer class="plan-sign-up">
                     <a class="button" href="">Sign Up</a>
                  </footer>

               </div> --><!-- End Price Block -->

         <!--</div>--> <!-- End Column -->

           <!--<div class="column">

               <div class="price-block">

                  <h3 class="plan-title"><i class="fa fa-star"></i>Premium</h3>
                  <p class="plan-price">$19.99 <span>per month</span></p>

                  <ul class="features">
                     <li>10GB Storage</li>
                     <li>25GB Bandwidth</li>
                     <li>5 Domains</li>
                     <li>10 Databases</li>
                     <li>10 FTP Account</li>
                     <li>50 Email Accounts</li>
                  </ul>

                  <footer class="plan-sign-up">
                     <a class="button" href="">Sign Up</a>
                  </footer>

               </div>--> <!-- End Price block -->

         <!--</div>--> <!-- End Column -->

            <!--<div class="column">

               <div class="price-block">

                  <h3 class="plan-title"><i class="fa fa-trophy"></i>Ultimate</h3>
                  <p class="plan-price">$29.99 <span>per month</span></p>

                  <ul class="features">
                     <li>30 Storage</li>
                     <li>Unlimited Bandwidth</li>
                     <li>10 Domains</li>
                     <li>15 Databases</li>
                     <li>10 FTP Account</li>
                     <li>50 Email Accounts</li>
                  </ul>

                  <footer class="plan-sign-up">
                     <a class="button" href="">Sign Up</a>
                  </footer>

               </div>--> <!-- End Price Block -->

         <!--</div> --><!-- End Column -->

         <!--</div>

      </div>-->

   </section> <!-- Pricing End -->

   <!-- Call-To-Action Section
   ================================================== -->
   <section id="call-to-action">

      <div class="row">

         <div class="two columns header-col">

            <a class="download-icon" href="google.com"><span>free</span></a>

         </div>

         <div class="seven columns text-wrapper">

            <h2><a href="">Donwload it right now !</a></h2>
            <p>Available for mac and linux</p>

         </div>

         <div class="three columns action">

            <a href="" class="button">Download now</a>

         </div>

      </div>

   </section> <!-- Call-To-Action Section End-->


   <!-- Screenshots
   ================================================== -->
   <section id="screenshots">

      <div class="row section-head">

         <h1>Product Screenshots.</h1>

         <p>here you can see some nice picture of the application.
         </p>

      </div>

      <div class="row">

         <div class="twelve columns">

            <!-- screenshots-wrapper -->
            <div id="screenshots-wrapper" class="bgrid-halves cf">

               <div class="columns item">
                  <div class="item-wrap">

                     <a href="images/home/productscreenshot_1.png" data-imagelightbox="a" >
                        <img src="images/home/productscreenshot_1.png" alt="Line Icons">
                        <div class="overlay"></div> 
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
              </div> <!-- item end -->

               <div class="columns item">
                  <div class="item-wrap">

                     <a href="images/home/productscreenshot_2.png" data-imagelightbox="a" >
                        <img src="images/home/productscreenshot_2.png" alt="Hipster">
                        <div class="overlay"></div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
              </div> <!-- item end -->



            </div> <!-- portfolio-wrapper end -->

         </div> <!-- twelve columns end -->

      </div>  <!-- end row -->

   </section> <!-- Screenshots End -->


   <!-- Testimonials Section
   ================================================== -->
   <section id="testimonials">

      <div class="row content">

         <div class="text-container">

            <div class="twelve columns">

               <h1>What People Are Saying.</h1>

            </div>

            <div class="twelve columns flex-container">

               <div class="flexslider">

                  <ul class="slides">

                     <li>
                        <blockquote>
                           <p>A basic drag and drop install. In 5 minutes I was able to start and stop all the application I would.
                           </p>
                           <cite>Hugo Hilaire</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                     <li>
                        <blockquote>
                           <p>Now I can finnally take some vacation and relax. Every app that we run around the world is one touch a way.
                           </p>
                           <cite>Gabriel Delattre</cite>
                        </blockquote>
                     </li> <!-- slide ends -->
                     <li>
                        <blockquote>
                           <p>This bundle is smart. You install it easly and quiet fast. Then you can watch the state of your app and relax.
                           This is neat.
                           </p>
                           <cite>Shiyue Wang</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                  </ul>

               </div> <!-- div.flexslider ends -->

            </div> <!-- div.flex-container ends -->

         </div>  <!-- text-container ends -->

      </div> <!-- row ends -->

   </section> <!-- Testimonials Section End-->


   <!-- Subscribe
   ================================================== -->
   <section id="subscribe">

      <div class="row section-head">

         <div class="twelve columns">

            <h1>Subscribe to our newsletter</h1>

            <p>Thru this form we will inform you of any information and roadmap about the project.</p>

         </div>

      </div>

      <div class="row">

         <div class="twelve columns">

         <!-- Begin MailChimp Signup Form -->
            <div class="illustration-mountain"></div>
            <div id="mc_embed_signup">
               <form action="http://facebook.us8.list-manage.com/subscribe/post?u=cdb7b577e41181934ed6a6a44&amp;id=e65110b38d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  
                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                   <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                   <div style="position: absolute; left: -5000px;"><input type="text" name="b_cdb7b577e41181934ed6a6a44_e65110b38d" value=""></div>
                  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
               
            </form>
            </div>

            <p><small>We never share your information or use it to spam you.</small></p>

         </div>

      </div>

   </section>  <!-- Subscribe Section End-->
</template>